/* 
Table of Contents

    Main
        Section 1
            
        Section 2

*/


/* Sections */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    width: 100%;
}

.navigation-grid {
    flex-direction: row;
    gap: 2rem;
    margin: 2rem 0;
}

.navigation-grid img {
    width: 80%;
    background-color: var(--placeholder-color);
    height: 60%;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--complementary-color);
}

.grid-item {
    border: 1px solid #404040;
    border-radius: 15px;
    background-color: var(--complementary-color);
    width: 17rem;
    height: 19rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.grid-item-btn {
    padding: 0.7rem 2rem;
    background-color: var(--primary-color);
    border-radius: 200px;
    cursor: pointer;
}
.grid-item-btn:hover {
    background-color: #ddd;
    border-radius: 200px;
    cursor: pointer;
}

